<div class="container">

    <h1>{{id}}</h1>

    <div class="section">

        <div class="row">

            {{!-- Left pane --}}
            <div class="col s6">
                <h3 class="text-center">Chat</h3>
                <ul class="chatbox">
                    <li class="message">Blablabla</li>
                </ul>
            </div>
            {{!-- Right pane --}}
            <div class="col s6 text-center">
                <h3 class="">Paramètres</h3>
                <ul>
                    {{#if channel}}
                        {{#each channel}}
                            <li><b>Host: {{this.host.username}}</b></li>

                            <li class="divider"></li>
                            <b>Settings:</b>
                            {{#each this.settings as |value key|}}
                                <li>{{key}} : {{value}}</li>
                            {{/each}}

                            <li class="divider"></li>
                            <ul id="list_users">
                                <b>Users:</b>
                                {{#with this.users as |user|}}
                                    {{#each user}}
                                        <li>{{this.username}}</li>
                                    {{/each}}
                                {{/with}}
                            </ul>
                            

                        {{/each}}
                    {{/if}}
                </ul>
            </div>

        </div>

    </div>

</div>