
<h3>GAME</h3>
<p class="flow-text">{{id}}</p>

<div class="section">

    <div class="row">

        {{!-- Left pane --}}
        <div class="col s4 offset-s1">
            <ul class="chatbox">
                <h3 class="text-center">Chat</h3>
                <div class="divider spacing"></div>
            </ul>
            <input id="input_message" type="text" placeholder="Votre message ici..">
            <label for="input_message">Vous pouvez utiliser les balises &lt;i&gt; b&gt; &lt;u&gt;</label>
        </div>
        {{!-- Right pane --}}
        <div class="col s4 offset-s2 text-center">
            <h3 class="">Paramètres</h3>
            <ul>
                {{#if channel}}
                    {{#each channel}}
                        <li><b>Host: {{this.host.username}}</b></li>

                        <li class="divider"></li>
                        <b>Settings:</b>
                        {{#each this.settings as |value key|}}
                            <li>{{key}} : {{value}}</li>
                        {{/each}}

                        <li class="divider"></li>
                        <ul id="list_users">
                            <b>Users:</b>
                            {{#with this.users as |user|}}
                                {{#each user}}
                                    <li name="{{this.username}}">{{this.username}}</li>
                                {{/each}}
                            {{/with}}
                        </ul>
                        

                    {{/each}}
                {{/if}}
            </ul>
        </div>

    </div>

</div>